setuptools>=65.0.0
streamlit
streamlit-folium
folium==0.18.0
pandas
requests
supabase
plotly
pyTelegramBotAPI
google-genai
python-dotenv
Pillow
flask
reportlab
xlsxwriter
streamlit-js-eval
shapely
pyproj
pyogrio
earthengine-api==0.1.384
geemap==0.35.3
python-box==7.2.0
xyzservices==2024.9.0
