streamlit
streamlit-folium
folium
pandas
supabase
altair==4.2.2
requests
plotly
pyTelegramBotAPI
google-genai
Pillow
flask
reportlab
python-dotenv
streamlit-js-eval
xlsxwriter
shapely
pyproj
geopandas>=0.13
fiona>=1.9
