setuptools>=65.0.0
streamlit==1.32.0
streamlit-folium==0.18.0
folium==0.15.1
pandas
requests
supabase
plotly
python-dotenv
Pillow
reportlab
xlsxwriter
streamlit-js-eval
earthengine-api==0.1.390




